node_modules# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cookies.json*

logs/
*.log

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/

*.tmp
*.bak
*.xlsx
*.zip
*.7z
*.rar

.env*

config.local.json
